In [2]:
import pandas as pd
df=pd.read_excel("India Vs Pakistan.xlsx")
df.head()

,match_id,year,venue,tournament,india_runs,pak_runs,toss_winner,bat_first,india_wickets,pak_wickets,winner,pitch_condition
0,1,2021,New York,WorldCup,166,184,Pakistan,Pakistan,2,7,Pakistan,Batting-friendly
1,2,2010,New York,AsiaCup,179,156,Pakistan,Pakistan,6,7,India,Bowler-friendly
2,3,2020,Lahore,AsiaCup,126,146,Pakistan,Pakistan,2,5,Pakistan,Bowler-friendly
3,4,2010,New York,AsiaCup,181,104,Pakistan,Pakistan,3,4,India,Balanced
4,5,2012,Kolkata,AsiaCup,170,182,Pakistan,India,3,10,Pakistan,Balanced

In [4]:
df.info()
df.isnull().sum()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         1001 non-null   int64
 1   year             1001 non-null   int64
 2   venue            1001 non-null   object
 3   tournament       1001 non-null   object
 4   india_runs       1001 non-null   int64
 5   pak_runs         1001 non-null   int64
 6   toss_winner      1001 non-null   object
 7   bat_first        1001 non-null   object
 8   india_wickets    1001 non-null   int64
 9   pak_wickets      1001 non-null   int64
 10  winner           1001 non-null   object
 11  pitch_condition  1001 non-null   object
dtypes: int64(6), object(6)
memory usage: 94.0+ KB

,match_id,year,venue,tournament,india_runs,pak_runs,toss_winner,bat_first,india_wickets,pak_wickets,winner,pitch_condition
count,1001.000000,1001.000000,1001,1001,1001.000000,1001.000000,1001,1001,1001.000000,1001.000000,1001,1001
unique,NaN,NaN,10,3,NaN,NaN,2,2,NaN,NaN,2,3
top,NaN,NaN,Dubai,AsiaCup,NaN,NaN,Pakistan,India,NaN,NaN,India,Balanced
freq,NaN,NaN,116,346,NaN,NaN,509,501,NaN,NaN,532,357
mean,501.000000,2015.379620,NaN,NaN,151.407592,149.049950,NaN,NaN,5.121878,4.898102,NaN,NaN
std,289.108111,5.193818,NaN,NaN,28.707520,29.605228,NaN,NaN,3.182630,3.165376,NaN,NaN
min,1.000000,2007.000000,NaN,NaN,100.000000,100.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,251.000000,2011.000000,NaN,NaN,128.000000,122.000000,NaN,NaN,2.000000,2.000000,NaN,NaN
50%,501.000000,2015.000000,NaN,NaN,152.000000,148.000000,NaN,NaN,5.000000,5.000000,NaN,NaN
75%,751.000000,2020.000000,NaN,NaN,176.000000,175.000000,NaN,NaN,8.000000,8.000000,NaN,NaN
max,1001.000000,2024.000000,NaN,NaN,200.000000,200.000000,NaN,NaN,10.000000,10.000000,NaN,NaN

In [6]:
df.isnull().sum()

match_id           0
year               0
venue              0
tournament         0
india_runs         0
pak_runs           0
toss_winner        0
bat_first          0
india_wickets      0
pak_wickets        0
winner             0
pitch_condition    0
dtype: int64

In [12]:
df.columns = df.columns.str.strip().str.lower()
df.head()

,match_id,year,venue,tournament,india_runs,pak_runs,toss_winner,bat_first,india_wickets,pak_wickets,winner,pitch_condition
0,1,2021,New York,WorldCup,166,184,Pakistan,Pakistan,2,7,Pakistan,Batting-friendly
1,2,2010,New York,AsiaCup,179,156,Pakistan,Pakistan,6,7,India,Bowler-friendly
2,3,2020,Lahore,AsiaCup,126,146,Pakistan,Pakistan,2,5,Pakistan,Bowler-friendly
3,4,2010,New York,AsiaCup,181,104,Pakistan,Pakistan,3,4,India,Balanced
4,5,2012,Kolkata,AsiaCup,170,182,Pakistan,India,3,10,Pakistan,Balanced

In [24]:
df['year'] = df['year'].astype(int)
df['india_runs'] = pd.to_numeric(df['india_runs'], errors='coerce')
df['pak_runs'] = pd.to_numeric(df['pak_runs'], errors='coerce')

In [26]:
df['total_runs'] = df['india_runs'] + df['pak_runs']
df['india_margin'] = df['india_runs'] - df['pak_runs']
df['winner_is_india'] = (df['winner'].str.lower().str.strip() == 'india').astype(int)

In [28]:
df.head()

,match_id,year,venue,tournament,india_runs,pak_runs,toss_winner,bat_first,india_wickets,pak_wickets,winner,pitch_condition,total_runs,india_margin,winner_is_india
0,1,2021,New York,WorldCup,166,184,Pakistan,Pakistan,2,7,Pakistan,Batting-friendly,350,-18,0
1,2,2010,New York,AsiaCup,179,156,Pakistan,Pakistan,6,7,India,Bowler-friendly,335,23,1
2,3,2020,Lahore,AsiaCup,126,146,Pakistan,Pakistan,2,5,Pakistan,Bowler-friendly,272,-20,0
3,4,2010,New York,AsiaCup,181,104,Pakistan,Pakistan,3,4,India,Balanced,285,77,1
4,5,2012,Kolkata,AsiaCup,170,182,Pakistan,India,3,10,Pakistan,Balanced,352,-12,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         1001 non-null   int64
 1   year             1001 non-null   int32
 2   venue            1001 non-null   object
 3   tournament       1001 non-null   object
 4   india_runs       1001 non-null   int64
 5   pak_runs         1001 non-null   int64
 6   toss_winner      1001 non-null   object
 7   bat_first        1001 non-null   object
 8   india_wickets    1001 non-null   int64
 9   pak_wickets      1001 non-null   int64
 10  winner           1001 non-null   object
 11  pitch_condition  1001 non-null   object
 12  total_runs       1001 non-null   int64
 13  india_margin     1001 non-null   int64
 14  winner_is_india  1001 non-null   int32
dtypes: int32(2), int64(7), object(6)
memory usage: 109.6+ KB

In [36]:
df.to_csv("IndiaVsPakistan_clean.csv", index=False)

In [52]:
print("Total_Maches =",len(df))
print("India_wins =",df['winner'].value_counts().get('India',0))
print("Pak_wins =",df['winner'].value_counts().get('Pakistan',0))
print("Win % of India =",round(df['winner_is_india'].mean()*100,2))

Total_Maches = 1001
India_wins = 532
Pak_wins = 469
Win % of India = 53.15